@charset "UTF-8";
/*CSS Document*/

/*Unversal Styles*/
body, mission_text {
  font-family: helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
  font-size: 22px;
  opacity: 0.9;
}

header, .mission_text, .locations {
  background-color: black;
}

h1, h3, h4 {
  font-family: cursive;
}

a {
  text-decoration: none;
  color: #929292;
  font-size: .75em;
}

a:hover {
  text-decoration: underline;
  color: #009192;
}

h4 {
  color: #929292;
}

p {
  color: #929292;
}

/*Header*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  border-bottom: 2px solid #009192;
  color: seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px 0px;
}

.logo img{
  margin-left: 10px;
  height: 50px;
  width: auto;
}

nav span {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}


/*Mission*/
#mission {
  display: flex;
  flex: auto;
  background: url(Resources/mission-background.jpg) repeat-y 30%;
  background-size: cover;
  width: auto;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mission_text {
  vertical-align: middle;
  text-align: center;
  background-color: black;
  color: seashell;
  width: 100%;
  margin: 25px;
  border-radius: 3px;
  opacity: .89;
}

/*Tea of the Month*/
#Featured {
  max-width: 1000px;
  margin: auto;
  padding-top: 100px;
}


#tea_box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  max-height: auto;
  align-content: center;
  margin-bottom: 50px;
  padding: 10px 10px;
}

.tea_image img {
  display: flex;
  flex: auto;
  max-height: 200px;
  max-width: 300px;
  border-radius: 4px;
  padding: 0px 10px;
}


#month {
  display: flex;
  flex: auto;
  margin-top: 350px;
}

.text {
  padding: 10px 0;
}

/* Locations */
#locations {
  background: url("Resources/locations-background.jpg") repeat-y 70%;
  background-size: cover;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.location-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

#location_title {
  padding-top: 75px;
  padding-bottom: 15px;
}

.city {
  opacity: .85;
  margin: 20px;
  width: 300px;
  background-color: black;
  border-radius: 4px;
}

/* Footer */
footer {
  max-height: 200px;
  line-height: .01;
}

#copy {
  text-align: center;
}
